HTML {
  overflow-y: scroll;
}

BODY {
  font-family: Helvetica;
  background-color: #fff;
  background-image: url(/images/background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

BODY.content {
  background-image: url(/images/background-faded.jpg);
  background-position: center top;
}

A, H1, H2, H3 {
  color: #b5171f;
}

H1, H2, H3 {
  margin: 5px 5px 5px 0px;
}

DIV.body {
  width: 925px;
  margin: 0px auto;
  padding: 0px;
}

DIV.header {
  margin: 0px;
  border: 0px solid green;
  height: 110px;
}

IMG.logo {
  float: left;
  margin: 0xp;
  border: 0px;
  z-index: 20;
  margin-right: 30px;
}

IMG.picture {
  border: 4px solid #b5171f;
}

DIV.content.fotos {
  background-image: url(/images/strip.png);
  background-repeat: no-repeat;
  background-position: 0px 220px;
  height: 490px;
}

DIV.link {
  border: 1px solid #b5171f;
  display: inline-block;
  background-image:url(/images/links.gif);
	height: 25px;
	float: left;
	margin-left: 5px;
	margin-top: 45px;
}

DIV.link.begin        { width: 100px; background-position: 0px 152px; }
DIV.link.naam         { width: 100px; background-position: 0px 128px; }
DIV.link.fotos        { width:  70px; background-position: 0px 104px; }
DIV.link.sms          { width:  80px; background-position: 0px  80px; }
DIV.link.aankondiging { width: 135px; background-position: 0px  56px; }
DIV.link.gastenboek   { width: 130px; background-position: 0px  32px; }

/* iphone */

DIV#background { 
  width:375px; 
  height:779px; 
  margin:10px auto 0 auto; 
  background: url(/images/iphone-3g.jpg) left top no-repeat; 
  overflow:hidden;
  padding: 0px;
}

H3#time { 
  font: normal 12px Helvetica, Arial, sans-serif;
  font-size: 12px; 
  text-shadow: 0 1px 0 #fff; 
  padding-top: 116px;
  margin-top: 0px;
  text-align:center;
  color: black;
}

DIV#conversation {
  margin: 35px; 
  margin-top: 44px; 
  height:351px;
  overflow:auto;
}

TD.message {
  width:305px;
  padding-left: 115px;
  font: normal 13px Helvetica, Arial, sans-serif;
}

TD.message DIV {
  margin: 0px;
  padding: 0px;
}

TD.message DIV.top {
  background-image: url(/images/message-balloon-top.png);
  background-repeat: no-repeat;
  height: 10px;
}

TD.message DIV.sms {
  background-image: url(/images/message-balloon-body.png);
  background-repeat: no-repeat;
  padding: 5px;
  padding-right: 12px;
}

TD.message DIV.bottom {
  background-image: url(/images/message-balloon-bottom.png);
  background-repeat: no-repeat;
  height: 13px;
}

TD.reply {
  padding-left: 5px;
  font: normal 13px Helvetica, Arial, sans-serif;
}

TD.reply DIV {
  margin: 0px;
  padding: 0px;
}

TD.reply DIV.top {
  background-image: url(/images/reply-balloon-top.png);
  background-repeat: no-repeat;
  height: 10px;
}

TD.reply DIV.sms {
  background-image: url(/images/reply-balloon-body.png);
  background-repeat: no-repeat;
  padding: 5px;
  padding-left: 15px;
  padding-right: 112px;
}

TD.reply DIV.bottom {
  background-image: url(/images/reply-balloon-bottom.png);
  background-repeat: no-repeat;
  height: 13px;
}

/* aankondiging */

TABLE.aankondiging {
  margin: 75px;
  width: 800px;
  font: normal 14px Helvetica, Arial, sans-serif;
  line-height: 160%;
}
