HTML {
  overflow-y: scroll;
}

BODY {
  font-family: Helvetica;
  background-color: #fff;
  background-image: url(/images/background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

BODY.content {
  background-image: url(/images/background-faded.jpg);
  background-position: center top;
}

A, H1, H2, H3 {
  color: #b5171f;
}

H1, H2, H3 {
  margin: 5px 5px 5px 0px;
}

DIV.body {
  width: 925px;
  margin: 0px auto;
  padding: 0px;
}

DIV.header {
  margin: 0px;
  border: 0px solid green;
  height: 110px;
}

IMG.logo {
  float: left;
  margin: 0xp;
  border: 0px;
  z-index: 20;
  margin-right: 20px;
}

IMG.picture {
  border: 4px solid #b5171f;
}

DIV.link {
  border: 1px solid #b5171f;
  display: inline-block;
  background-image:url(/images/links.gif);
	height: 25px;
	float: left;
	margin-left: 5px;
	margin-top: 45px;
}

DIV.link.begin        { width:  94px; background-position: -4px 170px; }
DIV.link.naam         { width:  94px; background-position: -4px 146px; }
DIV.link.fotos        { width:  64px; background-position: -4px 122px; }
DIV.link.sms          { width:  74px; background-position: -4px  98px; }
DIV.link.emails       { width:  64px; background-position: -4px  27px; }
DIV.link.aankondiging { width: 129px; background-position: -4px  75px; }
DIV.link.gastenboek   { width: 124px; background-position: -4px  50px; }

/* iphone */

DIV#background { 
  width:375px; 
  height:779px; 
  margin:10px auto 0 auto; 
  background: url(/images/iphone-3g.jpg) left top no-repeat; 
  overflow:hidden;
  padding: 0px;
}

H3#time { 
  font: normal 12px Helvetica, Arial, sans-serif;
  font-size: 12px; 
  text-shadow: 0 1px 0 #fff; 
  padding-top: 116px;
  margin-top: 0px;
  text-align:center;
  color: black;
}

DIV#conversation {
  margin: 35px; 
  margin-top: 44px; 
  height:351px;
  overflow:auto;
}

TD.message {
  width:305px;
  padding-left: 115px;
  font: normal 13px Helvetica, Arial, sans-serif;
}

TD.message DIV {
  margin: 0px;
  padding: 0px;
}

TD.message DIV.top {
  background-image: url(/images/message-balloon-top.png);
  background-repeat: no-repeat;
  height: 10px;
}

TD.message DIV.sms {
  background-image: url(/images/message-balloon-body.png);
  background-repeat: no-repeat;
  padding: 5px;
  padding-right: 12px;
}

TD.message DIV.bottom {
  background-image: url(/images/message-balloon-bottom.png);
  background-repeat: no-repeat;
  height: 13px;
}

TD.reply {
  padding-left: 5px;
  font: normal 13px Helvetica, Arial, sans-serif;
}

TD.reply DIV {
  margin: 0px;
  padding: 0px;
}

TD.reply DIV.top {
  background-image: url(/images/reply-balloon-top.png);
  background-repeat: no-repeat;
  height: 10px;
}

TD.reply DIV.sms {
  background-image: url(/images/reply-balloon-body.png);
  background-repeat: no-repeat;
  padding: 5px;
  padding-left: 15px;
  padding-right: 112px;
}

TD.reply DIV.bottom {
  background-image: url(/images/reply-balloon-bottom.png);
  background-repeat: no-repeat;
  height: 13px;
}

/* email */

DIV#email {
  width: 747px;
  height: 547px;
  margin-left: 90px;
  background-image: url(/images/email.png);
}


div#emailspacer { /* needed for strange ?bug? not allowing margin-top:100px on DIV#messages */
  height: 95px;
}

DIV#messages {
  margin:0px;
  margin-left: 50px;
  width: 657px;
  height: 397px;
  overflow: auto;
  font-size: 10pt;
}

DIV#messages TH {
  text-align: right;
  color: #808080;
}

DIV#messages HR {
  color: #dedede;
  background-color: #dedede;
  height: 1px;
  border: 0px;
}

/* aankondiging */

TABLE.aankondiging {
  margin: 75px;
  width: 800px;
  font: normal 14px Helvetica, Arial, sans-serif;
  line-height: 160%;
}

DIV.gallery-overview {
  clear:both;
  padding-left: 65px;
}

DIV.gallery-key {
  -moz-box-shadow: 3px 3px 5px #DFDFDF;
  -webkit-box-shadow: 3px 3px 5px #DFDFDF;
  -khtml-box-shadow: 3px 3px 5px #DFDFDF;
  -o-box-shadow: 3px 3px 5px #DFDFDF;
  box-shadow: 3px 3px 5px #DFDFDF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;	
  border-width: 1px;
  border-style: solid;
  height: 135px;
  width: 135px;
  margin-right: 25px;
  margin-top: 20px;
  text-align: center;
  font-size: 10pt;  
  float:left;
  background-color: white;
}

DIV.gallery-photo {
  height: 135px;
  width: 135px;
  float:left;
  text-align: center;
  font-size: 10pt;  
}

DIV.gallery-photo A,
DIV.gallery-key A {
  text-decoration: none;
}

DIV.gallery-photo IMG,
DIV.gallery-key IMG {
  -moz-box-shadow: 3px 3px 5px #DFDFDF;
  -webkit-box-shadow: 3px 3px 5px #DFDFDF;
  -khtml-box-shadow: 3px 3px 5px #DFDFDF;
  -o-box-shadow: 3px 3px 5px #DFDFDF;
  box-shadow: 3px 3px 5px #DFDFDF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;	
  margin-top: 20px;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  border:0px;
}
